#photo-case {
    min-width: 320px;
    width: 100%;
    justify-content: center;
    z-index: 1;
    margin-top: 5rem;
    img {
        min-width: 320px;
    }
}

@media(min-width:768px) {
    #photo-case {
        width: 100%;
        justify-content: center;
        margin-top: 5rem;
        z-index: 1;
        img {
        }
    }
}