#our-service {
    min-width: 320px;
    width: 100%;
    height: 2042px;
    background-image: linear-gradient(145deg, #004968, #081E17);
    clip-path: polygon(0% 1%, 100% 2%, 100% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 3px black;
    .title {
        width: 100%;
        height: 64px;
        margin-top: 50px;
        font-size: 0.85rem;
        color: rgb(180, 180, 180);
        font-weight: bold;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
    }
    .box-md-service {
        display: flex;
        flex-direction: column;
        .box-container {
            width: 100%;
            height: 306px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .box-title {
            flex-direction: row;
            align-items: flex-start;

        }
        .container-title {
            color: #ffffff;
            width: 273px;
            height: 55px;
            margin-left: 2rem;
            justify-content: flex-start;
            align-items: flex-start;
            font-size: 2rem;
            font-weight: bold;

        }
        .arrow {
            z-index: 2;
        }
        .box-video {
            width: 320px;
            height: 188px;
            justify-content: center;
            align-items: center;
            margin-top: -4.4rem;
            img {
                border-radius: 8px;
            }

        }
        .paragraph {
            color: white;
            height: 160px;
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            span {
                font-size: 18px;
                font-weight: 500;
            }
            .light {
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
    .box-md-service-two {
        display: flex;
        flex-direction: column;
        .box-container-two {
            width: 100%;
            height: 30rem;
            margin-top: 6rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container-title-two {
                color: #ffffff;
                width: 273px;
                height: 100px;
                margin-left: 2rem;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 2rem;
                font-weight: bold;
        
            }
            .arrow-two {
                margin-top: 2.2rem;
                z-index: 2;
            }
        }
        .paragraph {
            color: white;
            height: 160px;
            margin-top: 30px;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            span {
                font-size: 18px;
                font-weight: 500;
            }
            .light {
                font-size: 14px;
                font-weight: 300;
            }
        }
    } 
    .box-md-service-dev { 
        display: flex;
        flex-direction: column; 
        .box-container-dev {
            width: 100%;
            height: 20rem;
            margin-top: 7rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .container-title-dev {
                color: #ffffff;
                width: 273px;
                height: 100px;
                margin-left: 2rem;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 1.7rem;
                font-weight: bold;
        
            }
            .arrow-two {
                margin-top: 2.2rem;
                z-index: 2;
            }
        }
        .box-img {
            width: 320px;
            height: 380px;
            justify-content: center;
            align-items: center;
            margin-top: -.4rem;
            .img-dev {
                background-color: white;
                border-radius: 113% 336% 112%;
                border: 1px solid black;
                z-index: 1;
                position: relative;

            }
        }
        .paragraph-dev {
            width: 100%;
            color: rgb(255, 255, 255);
            height: 160px;
            margin-top: 5rem;
            padding: 1rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            position: relative;
            z-index: 1;
            span {
                font-size: 18px;
                font-weight: 500;
            }
            .light {
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
            }
        }             
    }
}
@media (min-width: 768px) {
    #our-service {
        .title {
            width: 100%;
            height: 64px;
            margin-top: 3.25rem;
            font-size: 1.2rem;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
    
    
        }
        .box-md-service {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 45rem;
            margin: 4rem 2rem;
            .box-container {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            .box-title {
                align-items: flex-start;
                justify-content: center;
    
            }
            .container-title {
                width: 25rem;
                margin-left: 2rem;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 2.3rem;
                font-weight: bold;
                position: relative;
    
            }
            .arrow {
                display: none;
            }
            .paragraph {
                width: 60rem;
                color: white;
                height: 20rem;
                margin-top: 30px;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                span {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
                .light {
                    font-size: 1.3rem;
                    font-weight: 300;
                }
            }
        }
        .box-md-service-two {
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 40rem;
            margin: 4rem 2rem;
        .box-container-two {
            width: 100%;
            height: 30rem;
            margin-top: 6rem;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .container-title-two {
                width: 15rem;
                height: 100px;
                margin-left: 2rem;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 2rem;
                font-weight: bold;
        
            }
            .arrow-two {
                display: none;
            }
        }
        .paragraph {
            width: 38rem;
            color: white;
            height: 23rem;
            margin-top: 10rem;
            margin-left: 3rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            span {
                font-size: 1.5rem;
                font-weight: 500;
            }
            .light {
                font-size: 1.2rem;
                font-weight: 300;
                }
            }
        }
        .box-md-service-dev { 
            display: flex;
            flex-direction: row-reverse; 
            background-image: linear-gradient(145deg, #004968, #081E17);
            border-radius: 0.5rem; 
            width: 43rem;
            margin: 4rem 2rem;
            .box-container-dev {
                width: auto;
                height: 20rem;
                margin-top: 6rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .container-title-dev {
                    width: 295px;
                    height: 100px;
                    margin-left: 1rem;
                    justify-content: flex-start;
                    align-items: flex-start;
                    font-size: 2.0rem;
                    font-weight: bold;
            
                }
                .arrow-two {
                    margin-top: 2.2rem;
                    z-index: 2;
                }
            }
            .box-img {
                width: 350px;
                height: 400px;
                justify-content: center;
                align-items: center;
                margin-top: -.4rem;
                .img-dev {
                }

            }
            .paragraph-dev {
                color: rgb(255, 255, 255);
                width: 17rem;
                height: 22rem;
                margin-top: 12rem;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                position: relative;
                z-index: 1;
                span {
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                .light {
                    color: #ffffff;
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }             
        } 
    }
    

}

@media (min-width: 960px) {
    #our-service {
        .title {
            width: 100%;
            height: 64px;
            margin-top: 3.25rem;
            font-size: 2.2rem;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            justify-content: center;
            align-items: center;
        }
        .box-md-service {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 60rem;
            padding: 2rem;
            border-radius: 0.5rem;
            margin: 2rem 2rem;
            background-image: linear-gradient(145deg, #004968, #081E17);
            box-shadow: 1px 3px 9px black;
            .box-container {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            .box-title {
                align-items: flex-start;
                justify-content: center;
    
            }
            .container-title {
                width: 20rem;
                margin-left: 2rem;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 2.3rem;
                font-weight: bold;
                position: relative;
    
            }
            .arrow {
                display: none;
            }
            .paragraph {
                width: 60rem;
                color: white;
                height: 20rem;
                margin-top: 30px;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                span {
                    font-size: 1.8rem;
                    font-weight: 500;
                }
                .light {
                    font-size: 1.3rem;
                    font-weight: 300;
                }
            }
        }
        .box-md-service-two {
            display: flex;
            border-radius: .5rem;
            background-image: linear-gradient(145deg, #004968, #081E17);
            box-shadow: 1px 3px 9px black;
            flex-direction: row;
            align-items: center;
            padding: 2rem;
            width: 60rem;
            margin: 2rem 2rem;
        .box-container-two {
            width: 20rem;
            height: 30rem;
            margin-top: 1rem;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .container-title-two {
                width: 273px;
                height: 100px;
                margin-left: 2rem;
                justify-content: flex-start;
                align-items: flex-start;
                font-size: 2rem;
                font-weight: bold;
        
            }
            .arrow-two {
                display: none;
            }
        }
        .paragraph {
            color: white;
            width: 32rem;
            height: 20rem;
            margin-top: 10rem;
            margin-left: 3rem;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            span {
                font-size: 2rem;
                font-weight: 500;
                margin-bottom: 1.2rem;
            }
            .light {
                margin-top: 0.2rem;
                font-size: 1.6rem;
                font-weight: 300;
                }
            }
        }
        .box-md-service-dev { 
            display: flex;
            flex-direction: row-reverse; 
            background-image: linear-gradient(145deg, #004968, #081E17);
            width: 60rem;
            margin: 4rem 2rem;
            .box-container-dev {
                width: 40rem;
                height: 20rem;
                margin-top: 6rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .container-title-dev {
                    width: 30rem;
                    height: 100px;
                    margin-left: 2rem;
                    justify-content: flex-start;
                    align-items: flex-start;
                    font-size: 2.2rem;
                    font-weight: bold;
            
                }
                .arrow-two {
                    display: none;
                }
            }
            .box-img {
                width: 350px;
                height: 400px;
                justify-content: center;
                align-items: center;
                margin-top: 2.6rem;
                .img-dev {
                }

            }
            .paragraph-dev {
                color: rgb(255, 255, 255);
                height: 20rem;
                width: 30rem;
                margin-top: 12rem;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                text-align: center;
                position: relative;
                z-index: 1;
                span {
                    font-size: 2.25rem;
                    font-weight: 500;
                }
                .light {
                    color: #ffffff;
                    font-size: 1.4rem;
                    font-weight: 300;
                }
            }             
        } 
    }
    

}