
.carousel-media {
    margin: 0;
    padding: 0;
    width: 245px;
    height: 243px;
       
}
/*.slick-next {
    right: 3px;
}
.slick-prev {
    color: black;
    right: 3px;
}
.slick-prev:before, .slick-next:before{
    font-size: 0;
}*/

.slick-prev, .slick-next {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    color: white;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 1;
    transition: background-color 0.3s;
  }

  .slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: white;
    opacity: 0.75;
  }
  
  .slick-dots li.slick-active button:before {
    color: white;
    opacity: 1;
  }  




