#testimonials {
        min-width: 320px;
    width: 100%;
    height: 56.12rem;
    background-color: #0A304A;
    align-items: center;
    flex-direction: column;
    .title-testimonials {
        margin-top: 5rem;
        background-color: #F2F2F2;
        padding: 1.5rem 1.6rem;
        text-transform: uppercase;
        font-size: 1rem;
        border-radius: 0.25rem;

    }
    .box-testimonials {
        width: 100%; 
        height: 25rem;
        margin-top: 3.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
            .testimonials1 { 
                background-color: #ffffff;
                padding: 1.5rem 1rem;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                border-radius: 0.25rem;
                margin-top: 3rem;
                justify-content: center;
                align-items: center;
                img {
                    width: 100%;

                }
            }
            .testimonials2 { 
                background-color: #ffffff;
                padding: 1.5rem 1rem;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                border-radius: 0.25rem;
                margin-top: 3rem;
                img {
                    width: 100%;

                }
            }
            .testimonials3 { 
                background-color: #ffffff;
                padding: 1.5rem 1rem;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                border-radius: 0.25rem;
                margin-top: 29rem;
                position: absolute;
                img {
                    width: 100%;

                }
            }   
        }
    }
    

@media (min-width: 768px) {
    #testimonials {
        display: flex;
        height: 39.12rem;
        background-color: #0A304A;
        align-items: center;
        flex-direction: column;
        .title-testimonials {
            background-color: #F2F2F2;
            padding: 2rem 1.6rem;
            text-transform: uppercase;
            font-size: 1.5rem;
            border-radius: 0.25rem;

        }
        .box-testimonials {
            height: 50rem;
            width: 60rem;
            margin: 2rem 2rem;
            align-items: flex-start;
            justify-content: center;
            display: flex;
            flex-direction: row;
            .testimonials1 { 
                background-color: #ffffff;
                padding: 1.5rem 1rem;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                border-radius: 0.25rem;
                margin: 1rem;
            }
            .testimonials2 { 
                background-color: #ffffff;
                padding: 1.5rem 1rem;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                border-radius: 0.25rem;
                margin: 1rem;
            }
            .testimonials3 { 
                background-color: #ffffff;
                padding: 1.5rem 1rem;
                text-align: center;
                text-transform: uppercase;
                font-size: 1.2rem;
                border-radius: 0.25rem;
                margin-top: 14rem;
                position: absolute;
            }   
            }
        }
  
    }
