@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Black"), url("../fonts/Montserrat-Black.ttf") format("truetype");
  font-style: "Black";
  font-weight: 900;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-BlackItalic"), url("../fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-style: BlackItalic;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-style: Bold;
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-style: ExtraBold;
  font-weight: 800;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ExtraLight"), url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-style: ExtraLight;
  font-weight: 200;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-style: Italic;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Italic-VariableFont_wght"), url("../fonts/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Light"), url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-style: Light;
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-LightItalic"), url("../fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-style: LightItalic;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-style: Medium;
  font-weight: 500;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-MediumItalic"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-style: MediumItalic;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: Regular;
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-style: SemiBold;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-SemiBoldItalic"), url("../fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-style: SemiBoldItalic;
  font-weight: 600;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Thin"), url("../fonts/Montserrat-Thin.ttf") format("truetype");
  font-style: Thin;
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-ThinItalic"), url("../fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-style: ThinItalic;
  font-weight: 100;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-VariableFont_wght"), url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
* ::selection {
  background-color: #28007f;
}

div, article, aside, footer, header, main, nav, section, ul, ol, li, button, figure, picture, hr {
  display: flex;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 320px;
  display: flex;
  justify-content: center;
}

button {
  border: none;
}

.whatsapp {
  border: none;
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 10000;
  bottom: 15px;
  right: 15px;
  background-color: green;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-image: linear-gradient(180deg, #00e574, #5eff2e);
  border: 3px solid #77ffaf;
  padding: 20px;
  box-shadow: 1px 1px 1px #00e574;
  box-shadow: 0 0 0 0 #00e574;
  transform: scale(1);
  -webkit-animation: pulse-black 1.5s infinite;
  animation: pulse-black 1.5s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 229, 116, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px transparent;
  }
  to {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 transparent;
  }
}
.top {
  z-index: 10000;
}
.top img {
  background: rgba(191, 191, 191, 0.562);
  border-radius: 0.2rem;
  transition: all 0.2s;
}
.top img:hover {
  transform: scale(1.2);
  transition: all 0.2s;
  box-shadow: 1px 1px 5px black;
}

.nav {
  min-width: 320px;
  width: 100%;
  height: 111px;
}

#main {
  flex-direction: column;
  width: 100%;
  background-image: linear-gradient(101deg, #000000, #222222);
}

#header a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

a {
  position: relative;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  overflow: hidden;
  transition: color 0.3s; /* Adiciona uma transição suave à cor do texto */
}

/* Pseudo-elemento ::before para criar a borda inicialmente escondida */
a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #00CD3D; /* Cor da borda */
  bottom: 0;
  transform: scaleX(0); /* Inicialmente, a borda tem largura zero */
  transform-origin: bottom center; /* Origem da transformação no canto inferior direito */
  transition: transform 0.1s ease-out; /* Adiciona uma transição suave à largura da borda */
}

/* Efeito de animação quando passa o cursor */
a:hover::before {
  transform: scaleX(1); /* Aumenta a largura da borda para 100% */
  transform-origin: bottom center; /* Muda a origem da transformação para o canto inferior esquerdo */
}

/* Altera a cor do texto ao passar o cursor */
#header {
  /* Aplica o efeito de aparecimento após 3 segundos */
}
#header .logo {
  display: flex;
  flex-direction: row;
  opacity: 0; /* Inicialmente, o link está invisível */
  transition: opacity 1s ease-in-out;
  overflow: visible;
}
#header .logo .img-logo {
  position: absolute;
  font-size: 16px;
  margin-left: -1rem;
}
#header .logo .img-write {
  position: absolute;
  margin-left: 7rem;
}
@keyframes appearAnimation {
  to {
    opacity: 1; /* Define a opacidade para 1 (totalmente visível) ao final da animação */
  }
}
#header .logo {
  animation: appearAnimation 1s 3s forwards; /* 1s de duração, atraso de 3s antes de começar, manter os estilos finais */
  overflow: visible;
}

#header {
  min-width: 320px;
  padding: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 1.1rem;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 1px 3px 12px black;
}

#nav {
  justify-content: end;
  width: 100%;
}

#menu {
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  padding: 0.5rem;
}

#btn-mobile {
  display: none;
}

@media (max-width: 820px) {
  #menu {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 5.31rem;
    right: 0px;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    transition: 0.4s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
    border-radius: 2rem 0 2rem 0;
    box-shadow: 1px 5px 8px black;
  }
  #nav.active #menu {
    height: calc(100vh - 250px);
    top: 4.5rem;
    visibility: visible;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #38c771;
    border-bottom: 2px solid #38c771;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 3px solid;
    width: 20px;
    color: #000000;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
@media (min-width: 820px) {
  #header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 0.7rem;
    font-weight: 400;
  }
  #header .logo {
    transition: all 0.3s;
  }
  #header .logo:hover {
    transform: scale(1.2);
    transition: all 0.3s;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    transition: all 0.6s;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  #nav {
    width: auto;
  }
}
@media (min-width: 940px) {
  #header a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 0.9rem;
    font-weight: 400;
  }
}
@media (max-width: 420px) {
  #header .logo .img-write {
    display: none;
  }
}
#main #photo-case {
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 5;
  position: relative;
}
#main #photo-case #video-container {
  min-width: 320px;
  width: 100%;
  height: auto;
  justify-content: center;
  z-index: 1;
}
#main #photo-case .button-row-video {
  position: absolute;
  width: 100%;
  top: 30rem;
  justify-content: center;
  z-index: 2000;
}
#main #photo-case .button-row-video .button-whats {
  transition: all 0.3s;
  display: flex;
  height: 1.62rem;
  width: 10.22rem;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 1px 2px 6px rgb(31, 31, 31);
  background-image: linear-gradient(45deg, #92FFB0, #00E23F);
}
#main #photo-case .button-row-video .button-whats .link-whats {
  color: #000000;
  font-size: 8px;
  font-weight: 800;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main #photo-case .button-row-video .button-whats .link-whats .box-img-whats {
  width: 20px;
  height: 20px;
}
#main #photo-case .button-whats:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

@media (max-width: 600px) {
  #video-container {
    height: 56.25vw;
  }
}
@media (min-width: 601px) {
  #video-container {
    height: 75vw;
  }
}
@media (min-width: 820px) {
  #photo-case {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 5;
  }
  #photo-case #video-container {
    width: 100%;
    justify-content: center;
    z-index: 1;
  }
}
@media (min-width: 1200px) {
  #photo-case {
    display: flex;
    width: 90%;
    justify-content: center;
    z-index: 5;
  }
  #photo-case #video-container {
    width: 100%;
    justify-content: center;
    z-index: 1;
  }
}
#who {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 42rem;
  margin-top: -23.25rem;
  background-color: #000000;
}
#who .box-md {
  flex-direction: column;
}
#who .box-md .identity {
  display: flex;
  height: 122px;
  padding-top: 29rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: bold;
}
#who .box-md .identity span {
  font-size: 68px;
  font-weight: 700;
}
#who .box-md .flex-image {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6rem;
  position: relative;
}
#who .box-md .flex-image img {
  background-color: white;
  border-radius: 50%;
  box-shadow: 1px 7px 8px black;
}
#who .box-md .flex-image .list-who {
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 146px;
  height: 90px;
  margin-top: 2rem;
  justify-content: space-between;
}
#who .box-md .flex-image .list-who .li-one {
  background-color: #5F1BF2;
  border-radius: 75px 8px 96px 8px;
  height: 33px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
}
#who .box-md .flex-image .list-who .li-two {
  display: none;
  background-color: #00CD3D;
  border-radius: 75px 8px 96px 8px;
  height: 33px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
}
#who .box-md .flex-image .list-who .li-three {
  background-color: #5F1BF2;
  border-radius: 75px 8px 96px 8px;
  height: 33px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  font-size: 14px;
  justify-content: center;
  box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
}

@media (min-width: 768px) {
  #who {
    margin-top: -28.25rem;
    flex-direction: row;
    justify-content: center;
  }
  #who .box-md {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60rem;
    margin: 0rem 2rem;
  }
  #who .box-md .identity {
    display: flex;
    height: 122px;
    padding-top: 37rem;
    color: white;
    font-weight: bold;
  }
  #who .box-md .identity span {
    font-size: 5.5rem;
    font-weight: 700;
  }
  #who .box-md .flex-image {
    padding-top: 29rem;
    justify-content: space-between;
    position: relative;
    width: 21.5rem;
  }
  #who .box-md .flex-image .list-who {
    width: 14.5rem;
    padding-left: 2rem;
  }
  #who .box-md .flex-image .list-who .li-one {
    border-radius: 75px 8px 96px 8px;
    height: 2.6rem;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
  }
  #who .box-md .flex-image .list-who .li-two {
    border-radius: 75px 8px 96px 8px;
    height: 2.6rem;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
  }
  #who .box-md .flex-image .list-who .li-three {
    border-radius: 75px 8px 96px 8px;
    height: 2.6rem;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    justify-content: center;
    box-shadow: 3px 3px 10px 0px rgb(0, 0, 0);
  }
}
#details {
  min-width: 320px;
  height: 48.75rem;
  display: flex;
  flex-direction: column;
}
#details .ask-one {
  width: 100%;
  height: 83px;
  justify-content: center;
  margin: 56px 0px 20px 0px;
  align-items: center;
  z-index: 1;
}
#details .ask-one h2 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
#details .box-md-who {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
}
#details .box-md-who .img-who {
  bottom: -38px;
  opacity: 0.1;
  position: absolute;
  z-index: 0;
}
#details .box-md-who .img-who img {
  width: 19rem;
}
#details .box-md-who .flex-text {
  height: 563px;
  flex-direction: column;
  z-index: 1;
}
#details .box-md-who .flex-text .div-tnb {
  margin: 30px 31px;
  color: #ffffff;
  font-size: 17px;
}
#details .box-md-who .flex-text .div-tnb span {
  background-color: white;
  padding: 0rem 0.3rem;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}
#details .box-md-who .flex-text .line {
  height: 1px;
  background-color: #707070;
  margin: 0px 22px;
}
#details .box-md-who .flex-text .div-net {
  margin: 30px 31px;
  color: #ffffff;
  font-size: 18px;
  flex-direction: column;
}
#details .box-md-who .flex-text .div-net .div-want {
  font-size: 16px;
  font-weight: normal;
  color: #c7c7c7;
  margin: 10px 12px;
}
#details .box-md-who .flex-text .div-ofr {
  margin: 30px 31px;
  color: #ffffff;
  font-size: 18px;
  flex-direction: column;
}
#details .box-md-who .flex-text .div-ofr .div-want {
  font-size: 16px;
  font-weight: normal;
  color: #c7c7c7;
  margin: 10px 12px;
}
#details .box-md-who .button-row {
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
  z-index: 1;
}
#details .box-md-who .button-row .button-whats {
  display: flex;
  height: 42px;
  width: 242px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 1px 2px 6px rgb(31, 31, 31);
  background-image: linear-gradient(45deg, #92FFB0, #00E23F);
}
#details .box-md-who .button-row .button-whats .link-whats {
  color: #000000;
  font-size: 12px;
  font-weight: 800;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  #details {
    height: 47rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  #details .ask-one {
    width: 100%;
    height: 103px;
    justify-content: center;
    margin: 56px 0px 20px 0px;
    align-items: center;
  }
  #details .ask-one h2 {
    font-size: 3.2rem;
    font-weight: bold;
  }
  #details .box-md-who {
    margin: 0rem 2rem;
    flex-direction: row-reverse;
    align-items: center;
  }
  #details .box-md-who .img-who {
    width: 20rem;
    bottom: -38px;
    left: -4rem;
    position: absolute;
    opacity: 1;
  }
  #details .box-md-who .flex-text {
    height: 563px;
    flex-direction: column;
  }
  #details .box-md-who .flex-text .div-tnb {
    margin: 30px 31px;
    color: #ffffff;
    font-size: 17px;
  }
  #details .box-md-who .flex-text .div-tnb span {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    padding: 0rem 0.3rem;
  }
  #details .box-md-who .flex-text .line {
    height: 1px;
    background-color: #707070;
    margin: 0px 22px;
  }
  #details .box-md-who .flex-text .div-net {
    margin: 30px 31px;
    color: #ffffff;
    font-size: 18px;
    flex-direction: column;
  }
  #details .box-md-who .flex-text .div-net .div-want {
    font-size: 16px;
    font-weight: normal;
    color: #c7c7c7;
    margin: 10px 12px;
  }
  #details .box-md-who .flex-text .div-ofr {
    margin: 30px 31px;
    color: #ffffff;
    font-size: 18px;
    flex-direction: column;
  }
  #details .box-md-who .flex-text .div-ofr .div-want {
    font-size: 16px;
    font-weight: normal;
    color: #c7c7c7;
    margin: 10px 12px;
  }
  #details .box-md-who .button-row .button-whats {
    display: none;
    margin-left: -13rem;
    margin-top: 20rem;
    width: 3rem;
    padding: 1.6rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 2px 6px black;
  }
  #details .box-md-who .button-row .button-whats .link-whats {
    display: none;
    overflow: hidden;
  }
  #details .box-md-who .button-row .button-whats .link-whats .box-img-whats {
    background-image: linear-gradient(45deg, #92FFB0, #00E23F);
  }
}
#our-service {
  min-width: 320px;
  width: 100%;
  height: 2041px;
  overflow: hidden;
  background-image: linear-gradient(145deg, #000000, #222222);
  clip-path: polygon(0% 1%, 100% 2%, 100% 100%, 0 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 3px black;
}
#our-service .title {
  width: 100%;
  height: 64px;
  margin-top: 50px;
  font-size: 0.85rem;
  color: rgb(180, 180, 180);
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
#our-service .box-md-service {
  display: flex;
  flex-direction: column;
}
#our-service .box-md-service .box-container {
  width: 100%;
  height: 306px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our-service .box-md-service .box-title {
  flex-direction: column;
  align-items: flex-start;
}
#our-service .box-md-service .container-title {
  color: #ffffff;
  width: 273px;
  height: 55px;
  margin-left: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: bold;
}
#our-service .box-md-service .arrow {
  z-index: 2;
  margin-left: 15rem;
  height: 8rem;
}
#our-service .box-md-service .box-video {
  width: 100%;
  max-width: 100%;
  height: 188px;
  justify-content: center;
  align-items: center;
  margin-top: -4.4rem;
}
#our-service .box-md-service .box-video img {
  border-radius: 8px;
}
#our-service .box-md-service .paragraph {
  color: white;
  height: 160px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#our-service .box-md-service .paragraph span {
  font-size: 18px;
  font-weight: 500;
}
#our-service .box-md-service .paragraph .light {
  font-size: 14px;
  font-weight: 300;
}
#our-service .box-md-service-two {
  display: flex;
  flex-direction: column;
}
#our-service .box-md-service-two .box-container-two {
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our-service .box-md-service-two .box-container-two .container-title-two {
  color: #ffffff;
  width: 273px;
  height: 100px;
  margin-left: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.75rem;
  font-weight: bold;
}
#our-service .box-md-service-two .box-container-two .arrow-two {
  z-index: 2;
  margin-left: -4rem;
  margin-top: 2rem;
  height: 6rem;
}
#our-service .box-md-service-two .paragraph {
  color: white;
  height: 160px;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
#our-service .box-md-service-two .paragraph span {
  font-size: 18px;
  font-weight: 500;
}
#our-service .box-md-service-two .paragraph .light {
  font-size: 14px;
  font-weight: 300;
}
#our-service .box-md-service-dev {
  display: flex;
  flex-direction: column;
}
#our-service .box-md-service-dev .box-container-dev {
  width: 100%;
  height: 20rem;
  margin-top: 7rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#our-service .box-md-service-dev .box-container-dev .container-title-dev {
  color: #ffffff;
  width: 273px;
  height: 100px;
  margin-left: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.5rem;
  font-weight: bold;
}
#our-service .box-md-service-dev .box-container-dev .arrow-three {
  margin-top: 2rem;
  margin-left: -4rem;
  z-index: 2;
}
#our-service .box-md-service-dev .box-img {
  width: 320px;
  height: 380px;
  justify-content: center;
  align-items: center;
  margin-top: -0.4rem;
}
#our-service .box-md-service-dev .box-img .img-dev {
  background-color: white;
  border-radius: 0.8rem;
  z-index: 1;
  position: relative;
  box-shadow: 1px 1px 1px #38c771;
}
#our-service .box-md-service-dev .paragraph-dev {
  width: 100%;
  color: rgb(255, 255, 255);
  height: 160px;
  margin-top: 5rem;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
  z-index: 1;
}
#our-service .box-md-service-dev .paragraph-dev span {
  font-size: 18px;
  font-weight: 500;
}
#our-service .box-md-service-dev .paragraph-dev .light {
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 768px) {
  #our-service .title {
    width: 100%;
    height: 64px;
    margin-top: 3.25rem;
    font-size: 1.2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
  }
  #our-service .box-md-service {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 45rem;
    margin: 4rem 2rem;
  }
  #our-service .box-md-service .box-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6rem;
  }
  #our-service .box-md-service .box-title {
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 4rem;
  }
  #our-service .box-md-service .container-title {
    width: 25rem;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
  }
  #our-service .box-md-service .arrow {
    display: none;
  }
  #our-service .box-md-service .paragraph {
    width: 40rem;
    color: white;
    height: 20rem;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  #our-service .box-md-service .paragraph span {
    font-size: 1.8rem;
    font-weight: 500;
  }
  #our-service .box-md-service .paragraph .light {
    font-size: 1.3rem;
    font-weight: 300;
  }
  #our-service .box-md-service-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40rem;
    margin: 0 2rem;
  }
  #our-service .box-md-service-two .box-container-two {
    width: 100%;
    height: 30rem;
    margin-top: 6rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #our-service .box-md-service-two .box-container-two .container-title-two {
    width: 15rem;
    height: 100px;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: bold;
  }
  #our-service .box-md-service-two .box-container-two .arrow-two {
    display: none;
  }
  #our-service .box-md-service-two .paragraph {
    width: 38rem;
    color: white;
    height: 23rem;
    margin-top: 10rem;
    margin-left: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  #our-service .box-md-service-two .paragraph span {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #our-service .box-md-service-two .paragraph .light {
    font-size: 1.2rem;
    font-weight: 300;
  }
  #our-service .box-md-service-dev {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 0.5rem;
    width: 43rem;
    margin: 4rem 2rem;
  }
  #our-service .box-md-service-dev .box-container-dev {
    width: auto;
    height: 20rem;
    margin-top: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #our-service .box-md-service-dev .box-container-dev .container-title-dev {
    width: 367px;
    height: 100px;
    margin-left: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: bold;
  }
  #our-service .box-md-service-dev .box-container-dev .arrow-two {
    margin-top: 2.2rem;
    z-index: 2;
  }
  #our-service .box-md-service-dev .box-img {
    width: 350px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: -0.4rem;
  }
  #our-service .box-md-service-dev .box-img .img-dev {
    background: none;
    box-shadow: none;
  }
  #our-service .box-md-service-dev .paragraph-dev {
    color: rgb(255, 255, 255);
    width: 17rem;
    height: 22rem;
    margin-top: 12rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  #our-service .box-md-service-dev .paragraph-dev span {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #our-service .box-md-service-dev .paragraph-dev .light {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 300;
  }
}
@media (min-width: 960px) {
  #our-service .title {
    width: 100%;
    height: 64px;
    margin-top: 3.25rem;
    font-size: 2.2rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
  }
  #our-service .box-md-service {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60rem;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 2rem 2rem;
  }
  #our-service .box-md-service .box-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #our-service .box-md-service .box-title {
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 4rem;
  }
  #our-service .box-md-service .container-title {
    width: 20rem;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.3rem;
    font-weight: bold;
    position: relative;
  }
  #our-service .box-md-service .arrow {
    display: none;
  }
  #our-service .box-md-service .paragraph {
    color: white;
    height: 20rem;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  #our-service .box-md-service .paragraph span {
    font-size: 1.8rem;
    font-weight: 500;
  }
  #our-service .box-md-service .paragraph .light {
    font-size: 1.3rem;
    font-weight: 300;
  }
  #our-service .box-md-service-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    width: 60rem;
    margin: 2rem 2rem;
  }
  #our-service .box-md-service-two .box-container-two {
    width: 20rem;
    height: 30rem;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #our-service .box-md-service-two .box-container-two .container-title-two {
    width: 273px;
    height: 100px;
    margin-left: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: bold;
  }
  #our-service .box-md-service-two .box-container-two .arrow-two {
    display: none;
  }
  #our-service .box-md-service-two .paragraph {
    color: white;
    width: 32rem;
    height: 20rem;
    margin-top: 10rem;
    margin-left: 3rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
  #our-service .box-md-service-two .paragraph span {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
  }
  #our-service .box-md-service-two .paragraph .light {
    margin-top: 0.2rem;
    font-size: 1.6rem;
    font-weight: 300;
  }
  #our-service .box-md-service-dev {
    display: flex;
    flex-direction: row-reverse;
    width: 60rem;
    margin: 4rem 2rem;
  }
  #our-service .box-md-service-dev .box-container-dev {
    width: 40rem;
    height: 20rem;
    margin-top: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #our-service .box-md-service-dev .box-container-dev .container-title-dev {
    width: 30rem;
    height: 100px;
    margin-left: 2rem;
    margin-top: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 2.2rem;
    font-weight: bold;
  }
  #our-service .box-md-service-dev .box-container-dev .arrow-two {
    display: none;
  }
  #our-service .box-md-service-dev .box-img {
    width: 350px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin-top: 2.6rem;
  }
  #our-service .box-md-service-dev .paragraph-dev {
    color: rgb(255, 255, 255);
    height: 20rem;
    width: 30rem;
    margin-top: 12rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  #our-service .box-md-service-dev .paragraph-dev span {
    font-size: 2rem;
    font-weight: 500;
  }
  #our-service .box-md-service-dev .paragraph-dev .light {
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 300;
  }
}
.carousel-media {
  margin: 0;
  padding: 0;
  width: 245px;
  height: 243px;
}

.slick-next {
  right: 3px;
}

.slick-prev {
  color: black;
  right: 3px;
}

.slick-prev:before, .slick-next:before {
  font-size: 0;
}

#case {
  min-width: 320px;
  width: 100%;
  height: 130rem;
  background-image: linear-gradient(145deg, #d7d7d7, #222222);
  flex-direction: column;
  align-items: center;
}
#case .box-case {
  width: 100%;
  height: 14rem;
  margin-top: 3.5rem;
  justify-content: center;
  align-items: center;
}
#case .box-case .border {
  border: 1px solid rgba(228, 228, 228, 0.521);
  height: 4.78rem;
  width: 20.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
}
#case .box-case .border .title-case {
  border: 1px solid rgba(228, 228, 228, 0.521);
  color: white;
  background-image: linear-gradient(145deg, #222222, #000000);
  font-weight: bold;
  height: 4rem;
  width: 19rem;
  font-size: 1.3rem;
  padding: 1rem 1rem;
  text-align: center;
  text-transform: uppercase;
}
#case .box-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#case .box-carousel .case-row1, #case .box-carousel .case-row2 {
  display: flex;
  flex-direction: column;
}
#case .box-carousel .carousel-case1, #case .box-carousel .carousel-case2, #case .box-carousel .carousel-case3, #case .box-carousel .carousel-case4 {
  padding: 1rem 0;
}
#case .box-carousel .carousel-case1 img, #case .box-carousel .carousel-case2 img, #case .box-carousel .carousel-case3 img, #case .box-carousel .carousel-case4 img {
  width: 26rem;
  max-width: 100%;
  border-radius: 0.2rem;
  transition: all 0.2s;
}
#case .box-carousel .carousel-case1 img:hover, #case .box-carousel .carousel-case2 img:hover, #case .box-carousel .carousel-case3 img:hover, #case .box-carousel .carousel-case4 img:hover {
  box-shadow: 2px 4px 10px rgb(0, 0, 0);
  transition: all 0.2s;
  transform: scale(1.1);
}
#case .box-md-case {
  background-image: linear-gradient(145deg, #333333, #201e1e);
  display: flex;
  flex-direction: column;
  height: 31rem;
}
#case .box-md-case .background-soluctions {
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 18.1875rem;
  margin-top: 5rem;
  border-radius: 0.5rem;
}
#case .box-md-case .background-soluctions .paragraph-soluction {
  color: rgb(255, 255, 255);
  height: 15.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
#case .box-md-case .background-soluctions .paragraph-soluction p {
  padding: 0.5rem;
}
#case .box-md-case .background-soluctions .paragraph-soluction .light {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 300;
  padding: 0.5rem;
}
#case .box-md-case .button-row {
  width: 100%;
  margin-top: 3rem;
  justify-content: center;
}
#case .box-md-case .button-row .button-whats {
  transition: all 0.3s;
  display: flex;
  height: 2.62rem;
  width: 15.22rem;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 1px 2px 6px rgb(31, 31, 31);
  background-image: linear-gradient(45deg, #92FFB0, #00E23F);
}
#case .box-md-case .button-row .button-whats .link-whats {
  color: #000000;
  font-size: 14px;
  font-weight: 800;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#case .box-md-case .button-whats:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

@media (min-width: 768px) {
  #case {
    width: 100%;
    height: 70rem;
  }
  #case .box-case {
    height: 4rem;
    width: 100%;
    margin: 2rem 2rem;
  }
  #case .box-case .border {
    height: 5rem;
    width: 45rem;
    align-items: center;
    justify-content: center;
  }
  #case .box-case .border .title-case {
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: 43rem;
    font-size: 2rem;
    padding: 1rem 1rem;
    text-transform: uppercase;
  }
  #case .box-carousel {
    box-sizing: border-box;
    height: 35rem;
    margin-bottom: 5rem;
    width: 80%;
    flex-direction: column;
    align-items: center;
  }
  #case .box-carousel .case-row1 {
    flex-direction: row;
    margin: 1rem;
    display: flex;
    height: 14rem;
  }
  #case .box-carousel .case-row1 .carousel-case1, #case .box-carousel .case-row1 .carousel-case2 {
    padding: 7rem 1rem;
  }
  #case .box-carousel .case-row1 .carousel-case1 img, #case .box-carousel .case-row1 .carousel-case2 img {
    width: 18rem;
    border-radius: 0.2rem;
  }
  #case .box-carousel .case-row2 {
    flex-direction: row;
    margin: 1rem;
    height: 14rem;
  }
  #case .box-carousel .case-row2 .carousel-case3, #case .box-carousel .case-row2 .carousel-case4 {
    padding: 7rem 1rem;
  }
  #case .box-carousel .case-row2 .carousel-case3 img, #case .box-carousel .case-row2 .carousel-case4 img {
    width: 18rem;
    border-radius: 0.2rem;
  }
  #case .box-md-case {
    width: 80%;
    margin: 2rem 2rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #000000;
    border-radius: 0.4rem;
    box-shadow: 1px 1px 1px #38c771;
  }
  #case .box-md-case .background-soluctions {
    background: none;
    display: flex;
    padding: 0.4rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18rem;
    margin-top: 1rem;
  }
  #case .box-md-case .background-soluctions .paragraph-soluction {
    width: auto;
    border-left: 1px solid #5f5f5f;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }
  #case .box-md-case .background-soluctions .paragraph-soluction .light {
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: 300;
  }
  #case .box-md-case .button-row {
    width: 100%;
    margin: 1rem;
    align-items: center;
    justify-content: center;
  }
  #case .box-md-case .button-row .button-whats {
    display: flex;
    height: 3rem;
    width: 18rem;
    border-radius: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 1px 2px 6px rgb(31, 31, 31);
    background-image: linear-gradient(45deg, #92FFB0, #00E23F);
  }
  #case .box-md-case .button-row .button-whats .link-whats {
    color: #000000;
    font-size: 1rem;
    font-weight: 800;
    width: 15.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #case .box-md-case .button-row .button-whats .link-whats .box-img-whats {
    width: 2rem;
    height: 1rem;
  }
}
@media (min-width: 960px) {
  #case .box-md-case {
    width: 80%;
    margin: 2rem 2rem;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #5f5f5f;
  }
  #case .box-md-case .background-soluctions {
    background: none;
    display: flex;
    padding: 0.4rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 18rem;
    margin-top: 1rem;
  }
  #case .box-md-case .background-soluctions .paragraph-soluction {
    width: auto;
    border-left: 1px solid #5f5f5f;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }
  #case .box-md-case .background-soluctions .paragraph-soluction .light {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 300;
  }
}
#testimonials {
  min-width: 320px;
  width: 100%;
  height: 56.12rem;
  background-color: #222222;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
#testimonials .title-testimonials {
  margin-top: 5rem;
  background-color: #F2F2F2;
  padding: 1.5rem 1.6rem;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 0.25rem;
}
#testimonials .box-testimonials {
  width: 100%;
  height: 25rem;
  margin-top: 3.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
#testimonials .box-testimonials .testimonials1 {
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}
#testimonials .box-testimonials .testimonials1 img {
  width: 100%;
}
#testimonials .box-testimonials .testimonials2 {
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  margin-top: 3rem;
}
#testimonials .box-testimonials .testimonials2 img {
  width: 100%;
}
#testimonials .box-testimonials .testimonials3 {
  background-color: #ffffff;
  padding: 1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  margin-top: 29rem;
  position: absolute;
}
#testimonials .box-testimonials .testimonials3 img {
  width: 100%;
}

@media (min-width: 768px) {
  #testimonials {
    display: flex;
    height: 39.12rem;
    align-items: center;
    flex-direction: column;
  }
  #testimonials .title-testimonials {
    background-color: #F2F2F2;
    padding: 2rem 1.6rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    border-radius: 0.25rem;
  }
  #testimonials .box-testimonials {
    height: 50rem;
    width: 60rem;
    margin: 2rem 2rem;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: row;
  }
  #testimonials .box-testimonials .testimonials1 {
    background-color: #ffffff;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    margin: 1rem;
  }
  #testimonials .box-testimonials .testimonials2 {
    background-color: #ffffff;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    margin: 1rem;
  }
  #testimonials .box-testimonials .testimonials3 {
    background-color: #ffffff;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    margin-top: 14rem;
    position: absolute;
  }
}
#footer {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60rem;
  background-image: linear-gradient(#222222, #000000);
  align-items: center;
}
#footer .reserch {
  background-image: linear-gradient(145deg, #616161, #555555);
  box-shadow: 1px 1px 1px #38c771;
  width: 31.12rem;
  max-width: 100%;
  height: 12.5rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
}
#footer .reserch .paragraph-footer {
  width: 100%;
  color: rgb(255, 255, 255);
  height: 104px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.2rem;
}
#footer .reserch .paragraph-footer .tight {
  font-weight: 500;
  padding: 0.2rem;
}
#footer .reserch .paragraph-footer .tunaweb {
  font-size: 1.12rem;
  font-weight: bold;
  font-weight: 800;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: white;
  color: rgb(9, 27, 107);
  text-transform: uppercase;
}
#footer .reserch .button-row {
  width: 100%;
  margin: 1rem;
  justify-content: center;
  transition: all 0.3s;
}
#footer .reserch .button-row .button-whats {
  display: flex;
  height: 42px;
  width: 242px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: linear-gradient(45deg, #92ffb0, #00e23f);
}
#footer .reserch .button-row .button-whats .link-whats {
  color: #000000;
  font-size: 12px;
  font-weight: 800;
  width: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .reserch .button-row:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
#footer .title-footer {
  color: #f2f2f2;
  padding: 1rem 1.6rem;
  text-transform: uppercase;
  font-size: 1rem;
  text-align: center;
  margin-top: 4.2rem;
}
#footer .enveloped {
  flex-direction: column;
}
#footer .enveloped .box-social-media {
  width: 100%;
  height: 20rem;
  flex-direction: column;
  align-items: center;
}
#footer .enveloped .box-social-media .social-media {
  padding: 1rem;
}
#footer .enveloped .box-social-media .social-media .instagram {
  background-image: url(/assets/images/instagram.png);
  transition: all 0.3s;
  width: 4rem;
  height: 4rem;
}
#footer .enveloped .box-social-media .social-media .instagram:hover {
  background-image: url(/assets/images/instagram-color.png);
  transition: all 0.3s;
}
#footer .enveloped .box-social-media .social-media .facebook {
  background-image: url(/assets/images/facebook-white.png);
  transition: all 0.3s;
  width: 4rem;
  height: 4rem;
}
#footer .enveloped .box-social-media .social-media .facebook:hover {
  background-image: url(/assets/images/facebook-blue.png);
  transition: all 0.4s;
}
#footer .enveloped .box-social-media .social-media .linkedin {
  background-image: url(/assets/images/linkedin.png);
  transition: all 0.3s;
  width: 4rem;
  height: 4rem;
}
#footer .enveloped .box-social-media .social-media .linkedin:hover {
  background-image: url(/assets/images/linkedin-hover.png);
  transition: all 0.4s;
}
#footer .enveloped .box-social-media .social-media .card-white {
  transition: all 0.3s;
}
#footer .enveloped .box-social-media .social-media .card-white:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}
#footer .enveloped .information {
  flex-direction: column;
  align-items: center;
}
#footer .enveloped .information .social-media-two .card-white {
  animation: all 0.1s;
}
#footer .enveloped .information .social-media-two .card-white:hover {
  animation: all 0.1s;
  transform: scale(1);
}
#footer .enveloped .information .card-white:hover {
  animation: all 0.1s;
  transform: scale(1);
}
#footer .enveloped .information .email-footer {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: center;
  align-items: center;
}
#footer .enveloped .information .email-footer .email {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
#footer .rights {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.2rem;
  text-align: center;
}

@media (min-width: 768px) {
  #footer {
    height: 70rem;
  }
  #footer .reserch {
    width: 80%;
    height: 17rem;
    box-shadow: 1px 1px 1px #38c771;
  }
  #footer .reserch .paragraph-footer {
    width: auto;
    color: rgb(255, 255, 255);
    height: 7.5rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem;
  }
  #footer .reserch .paragraph-footer .tight {
    font-weight: 800;
    padding: 0.2rem;
  }
  #footer .reserch .paragraph-footer .tunaweb {
    border: 0.25rem;
    background-color: white;
    color: rgb(9, 27, 107);
    font-size: 2.12rem;
    font-weight: 800;
    padding: 0.5rem;
    text-transform: uppercase;
  }
  #footer .reserch .button-row {
    width: 100%;
    margin: 1rem;
    justify-content: center;
  }
  #footer .reserch .button-row .button-whats {
    box-shadow: 1px 2px 6px rgb(36, 36, 36);
    display: flex;
    height: 3rem;
    width: 22.5rem;
    border-radius: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-image: linear-gradient(45deg, #92ffb0, #00e23f);
  }
  #footer .reserch .button-row .button-whats .link-whats {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 800;
    width: 19rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #footer .title-footer {
    color: #f2f2f2;
    padding: 1rem 1.6rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 4.2rem;
  }
  #footer .enveloped {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  #footer .enveloped .box-social-media {
    width: 100%;
    margin: 2rem 2rem;
    height: 31rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #footer .enveloped .box-social-media .social-media {
    padding: 1rem;
  }
  #footer .enveloped .information {
    width: 100%;
    height: 31rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-left: 2px solid white;
  }
  #footer .enveloped .information .social-media-two {
    padding: 1rem;
  }
  #footer .enveloped .information .social-media-two .email-footer {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
  }
  #footer .enveloped .information .social-media-two .email-footer .email {
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }
  #footer .rights {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 1.2rem;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-1-6 8:12:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.fade-in-bottom-two {
  -webkit-animation: fade-in-bottom 2.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 2.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-bottom-two {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom-two {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.scale-up-hor-left {
  -webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-left 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scale-up-hor-left-one {
  -webkit-animation: scale-up-hor-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-26 14:53:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-hor-left
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
}
.fade-in-fwd {
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-fwd-long {
  -webkit-animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-26 14:58:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
